{% extends "layout.html" %}
{% block content %}
<h2>Attendees for "{{ event.title }}"</h2>

<form method="POST" action="{{ url_for('main.update_checkin', event_id=event.id) }}">
    <table border="1" cellpadding="6">
        <thead>
            <tr>
                <th>Email</th>
                <th>Registered At</th>
                <th>Checked In</th>
            </tr>
        </thead>
        <tbody>
            {% for attendee in attendees %}
                <tr>
                    <td>{{ attendee.email }}</td>
                    <td>{{ attendee.timestamp }}</td>
                    <td>
                        <input type="checkbox" name="checkin_{{ attendee.user_id }}" {% if attendee.is_checked_in %}checked{% endif %}>
                        <!--TODO There is a issue with attendee submission, comeback later and fix it-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit">Save Check-in Status</button>
</form>

<a href="{{ url_for('main.my_events') }}">← Back</a>
{% endblock %}
