

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ _('Activity MVP') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <!-- select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery (select2 依賴) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- 引用外部 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>{{ _("Let's Gather!") }}</h1>
        <p>{{ _('Find and manage the events you love.') }}</p>
    </header>

    <nav>
        {% if current_user.is_authenticated %}
            <a>{{ _('Hello,') }} {{ current_user.email }}</a>
        {% else %}
            <a>{{ _('Hello, Guest') }}</a>
        {% endif %}

{#        <a href="{{ url_for('main.index') }}">{{ _('Home') }}</a>#}
        <a href="{{ url_for('main.event_list') }}">{{ _('Events') }}</a>

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.my_registrations') }}">{{ _('My Registration Events') }}</a>
            <a href="{{ url_for('main.create_event_with_form') }}">{{ _('Create Event') }}</a>
            <a href="{{ url_for('main.my_events') }}">{{ _('My Events') }}</a>
            <a href="{{ url_for('main.logout') }}">{{ _('Logout') }}</a>
        {% else %}
            <a href="{{ url_for('main.login') }}">{{ _('Login') }}</a>
            <a href="{{ url_for('main.register') }}">{{ _('Register') }}</a>
        {% endif %}

        <form method="GET" action="{{ url_for('main.set_language') }}">
            <label for="lang-select">🌐</label>
            <select name="lang_code" id="lang-select" onchange="this.form.submit()" style="padding:0.3rem">
                <option value="zh_Hant_TW" {% if get_locale() == 'zh_Hant_TW' %}selected{% endif %}>{{ _('繁體中文') }}</option>
                <option value="en" {% if get_locale() == 'en' %}selected{% endif %}>{{ _('English') }}</option>
            </select>
        </form>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>