{% extends "layout.html" %}
{% block content %}
  <h2>{{ _('Login') }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <p>
      <label for="{{ form.email.id }}">{{ _('Email') }}</label><br>
      {{ form.email() }}
      {% for err in form.email.errors %}<br><span class="error">{{ err }}</span>{% endfor %}
    </p>
    <p>
      <label for="{{ form.password.id }}">{{ _('Password') }}</label><br>
      {{ form.password() }}
      {% for err in form.password.errors %}<br><span class="error">{{ err }}</span>{% endfor %}
    </p>
    <p>
      <button type="submit" class="btn">{{ _('Login') }}</button>
    </p>
    <p>
      <a href="{{ url_for('main.forgot_password') }}" class="link">
        {{ _('Forgot Password?') }}
      </a>
    </p>
  </form>
{% endblock %}
