{% extends "layout.html" %}
{% block content %}
<h2>{{ _('my created event') }}</h2>

{% if events %}
    <ul>
    {% for event in events %}
        <li>
            <a href="{{ url_for('main.event_detail', id=event.id) }}">{{ event.title }}</a> <br>
            <small>{{ event.date }}</small>
        </li>
        <a href="{{ url_for('main.edit_event', id=event.id) }}">{{ _('edit') }}</a> |
        <form method="POST" action="{{ url_for('main.delete_event', id=event.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" onclick="return confirm('Delete this event?')">{{ _('delete') }}</button>
        </form>
        <a href="{{ url_for('main.view_attendees', id=event.id) }}">{{ _('view attendees') }}</a>
    {% endfor %}
    </ul>
{% else %}
    <p>{{ _('you have not created event yet') }}</p>
{% endif %}


<a href="{{ url_for('main.create_event') }}">{{ _('create new event') }}</a>
{% endblock %}
