{% extends "layout.html" %}
{% block content %}
  <h2>{{ _('Reset Your Password') }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <p>
      <label for="{{ form.password.id }}">{{ _('New Password') }}</label><br>
      {{ form.password(type="password") }}
      {% for err in form.password.errors %}<br><span class="error">{{ err }}</span>{% endfor %}
    </p>
    <p>
      <label for="{{ form.confirm.id }}">{{ _('Confirm Password') }}</label><br>
      {{ form.confirm(type="password") }}
      {% for err in form.confirm.errors %}<br><span class="error">{{ err }}</span>{% endfor %}
    </p>
    <p><button type="submit" class="btn">{{ _('Reset Password') }}</button></p>
  </form>
{% endblock %}
